@{
  ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
      <h1>ASP.NET</h1>
      <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
      <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
  </div>

  <div class="row">
      <div class="col-md-4">
          <h2>Getting started</h2>
          <p>
              ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
              enables a clean separation of concerns and gives you full control over markup
              for enjoyable, agile development.
          </p>
          <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-4">
          <h2>Get more libraries</h2>
          <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
          <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-4">
          <h2>Web Hosting</h2>
          <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
          <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
      </div>
  </div>*@

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Curious</title>

  <!-- Bootstrap core CSS -->
  <link href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="~/Scripts/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="~/Scripts/css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Curious</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" style="float: right">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Categories</a>
          </li>
          <li class="nav-item" style="float: right">
            <a class="nav-link js-scroll-trigger" href="#contact">Post Article</a>
          </li>
          <li class="nav-item" style="float: right">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          @if (TempData["id"] != null)
          {
            <li class="nav-item" style="width:200px">
              <img src="http://flaticons.net/gd/makefg.php?i=icons/Application/User-Profile.png&r=255&g=255&b=255" style="margin-top:5px;float:right;height:25px;width:24px;border-radius: 20%"><a style="float: right" class="nav-link js-scroll-trigger" href="@Url.Action("Details", "Members", new { id = @TempData["id"] })">Welcome @TempData["id"]</a>
            </li>
          }

          @if (TempData["id"] == null)
          {


            <li class="nav-item" style="float: right">
              <a style="float: right" class="nav-link js-scroll-trigger" href="@Url.Action("Index", "Login")">Login</a>
            </li>
          }



        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <img class="img-fluid" src="~/Scripts/img/brain_small.png" alt="">
      <div class="intro-text">
        <span class="name">Curious</span>
        <hr class="star-light">
        <span class="skills">For all the doubts you ever had!!</span>
      </div>
    </div>
  </header>

  <!-- Portfolio Grid Section -->
  <section id="portfolio">
    <div class="container">
      <h2 class="text-center">Categories</h2>
      <hr class="star-primary">
      <div class="row">
        <div class="col-sm-4 portfolio-item">

          <a href="http://localhost:65174/Category/Details/SPACE">  <font size="5"><b>SPACE</b></font><img class="img-fluid" style="width:900px;height:250px;" src="https://cdn.wccftech.com/wp-content/uploads/2016/09/spacee.jpg" alt=""></a>
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">

          <a href="http://localhost:65174/Category/Details/POLITICS">
            <font size="5"><b>POLITICS</b></font><img class="img-fluid" style="width:900px;height:250px;" src="https://betanews.com/wp-content/uploads/2014/05/politician-292x300.jpg" alt="">
          </a>

        </div>
        <div class="col-sm-4 portfolio-item">

          <a href="http://localhost:65174/Category/Details/HISTORY">
            <font size="5"><b>HISTORY</b></font><img style="width:900px;height:250px;" class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTenPXY2JgUNXzYR2aOHPBU0450ysasNerGx21cPniClZWZ3i7m6g" alt="">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">


          <a href="http://localhost:65174/Category/Details/PLACES">
            <font size="5"><b>PLACES</b></font><img style="width:900px;height:250px;" class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSK10gK-SU42yR5IyOK8tKwpLBeZ4Z2-lbsiB2CZTnBaFeN1-b" alt="">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a class="portfolio-link" href="#portfolioModal5" data-toggle="modal">

            <a href="http://localhost:65174/Category/Details/SCIENCE">
              <font size="5"><b>SCIENCE</b></font><img style="width:350px;height:250px;" class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU7oVySAhze11qy2GjDB8im4eZlZuFFNrFHiHaDOSWXqleSQ8t" alt="">
            </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a class="portfolio-link" href="#portfolioModal6" data-toggle="modal">

            <a href="http://localhost:65174/Category/Details/OTHER">
              <font size="5"><b>OTHER</b></font><img style="width:350px;height:250px;class=" img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzRQ3Ht5pPfjaAabaYodLJGlrvz2tpXOzlS-UuqK-bpYcAKBX6" alt="">
            </a>
        </div>
      </div>
    </div>
  </section>
  </div>




  <!-- Contact Section -->
  <section id="contact">
    <div class="container">
      <h2 class="text-center">Want to Write an Article?</h2>
      <hr class="star-primary">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
          @using (Html.BeginForm("Create", "Article", FormMethod.Post))
          {
            <form method="post">

              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Category</label>
                  <input class="form-control" id="email" type="text" name="category" value="" placeholder="Category" required data-validation-required-message="Please enter the Category">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Title</label>
                  <input class="form-control" id="phone" type="text" name="Title" value="" placeholder="Title" required data-validation-required-message="Please enter the Title">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Description</label>
                  <textarea class="form-control" id="message" rows="5" name="description" value="" placeholder="Description" required data-validation-required-message="Please enter the description."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Image URL</label>
                  <input class="form-control" id="phone" type="text" name="imageurl" value="" placeholder="Image URL" required data-validation-required-message="Please provide a image url.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg" id="sendMessageButton">Send</button>
              </div>

            </form>
          }
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="success" id="about">
    <div class="container">
      <h2 class="text-center">About</h2>
      <hr class="star-light">
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p></p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p> </p>
        </div>
        <div class="col-lg-8 mx-auto text-center">

        </div>
      </div>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top d-lg-none">
    <a class="btn btn-primary js-scroll-trigger" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2>Project Title</h2>
                <hr class="star-primary">
                <img class="img-fluid img-centered" src="img/portfolio/cabin.png" alt="">
                <p>
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                </p>
                <ul class="list-inline item-details">
                  <li>
                    Client:
                    <strong>
                      <a href="http://startbootstrap.com">Start Bootstrap</a>
                    </strong>
                  </li>
                  <li>
                    Date:
                    <strong>
                      <a href="http://startbootstrap.com">April 2014</a>
                    </strong>
                  </li>
                  <li>
                    Service:
                    <strong>
                      <a href="http://startbootstrap.com">Web Development</a>
                    </strong>
                  </li>
                </ul>
                <button class="btn btn-success" type="button" data-dismiss="modal">
                  <i class="fa fa-times"></i>
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2>Project Title</h2>
                <hr class="star-primary">
                <img class="img-fluid img-centered" src="img/portfolio/cake.png" alt="">
                <p>
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                </p>
                <ul class="list-inline item-details">
                  <li>
                    Client:
                    <strong>
                      <a href="http://startbootstrap.com">Start Bootstrap</a>
                    </strong>
                  </li>
                  <li>
                    Date:
                    <strong>
                      <a href="http://startbootstrap.com">April 2014</a>
                    </strong>
                  </li>
                  <li>
                    Service:
                    <strong>
                      <a href="http://startbootstrap.com">Web Development</a>
                    </strong>
                  </li>
                </ul>
                <button class="btn btn-success" type="button" data-dismiss="modal">
                  <i class="fa fa-times"></i>
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2>Project Title</h2>
                <hr class="star-primary">
                <img class="img-fluid img-centered" src="img/portfolio/circus.png" alt="">
                <p>
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                </p>
                <ul class="list-inline item-details">
                  <li>
                    Client:
                    <strong>
                      <a href="http://startbootstrap.com">Start Bootstrap</a>
                    </strong>
                  </li>
                  <li>
                    Date:
                    <strong>
                      <a href="http://startbootstrap.com">April 2014</a>
                    </strong>
                  </li>
                  <li>
                    Service:
                    <strong>
                      <a href="http://startbootstrap.com">Web Development</a>
                    </strong>
                  </li>
                </ul>
                <button class="btn btn-success" type="button" data-dismiss="modal">
                  <i class="fa fa-times"></i>
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2>Project Title</h2>
                <hr class="star-primary">
                <img class="img-fluid img-centered" src="img/portfolio/game.png" alt="">
                <p>
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                </p>
                <ul class="list-inline item-details">
                  <li>
                    Client:
                    <strong>
                      <a href="http://startbootstrap.com">Start Bootstrap</a>
                    </strong>
                  </li>
                  <li>
                    Date:
                    <strong>
                      <a href="http://startbootstrap.com">April 2014</a>
                    </strong>
                  </li>
                  <li>
                    Service:
                    <strong>
                      <a href="http://startbootstrap.com">Web Development</a>
                    </strong>
                  </li>
                </ul>
                <button class="btn btn-success" type="button" data-dismiss="modal">
                  <i class="fa fa-times"></i>
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2>Project Title</h2>
                <hr class="star-primary">
                <img class="img-fluid img-centered" src="img/portfolio/safe.png" alt="">
                <p>
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                </p>
                <ul class="list-inline item-details">
                  <li>
                    Client:
                    <strong>
                      <a href="http://startbootstrap.com">Start Bootstrap</a>
                    </strong>
                  </li>
                  <li>
                    Date:
                    <strong>
                      <a href="http://startbootstrap.com">April 2014</a>
                    </strong>
                  </li>
                  <li>
                    Service:
                    <strong>
                      <a href="http://startbootstrap.com">Web Development</a>
                    </strong>
                  </li>
                </ul>
                <button class="btn btn-success" type="button" data-dismiss="modal">
                  <i class="fa fa-times"></i>
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2>Project Title</h2>
                <hr class="star-primary">
                <img class="img-fluid img-centered" src="img/portfolio/submarine.png" alt="">
                <p>
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                </p>
                <ul class="list-inline item-details">
                  <li>
                    Client:
                    <strong>
                      <a href="http://startbootstrap.com">Start Bootstrap</a>
                    </strong>
                  </li>
                  <li>
                    Date:
                    <strong>
                      <a href="http://startbootstrap.com">April 2014</a>
                    </strong>
                  </li>
                  <li>
                    Service:
                    <strong>
                      <a href="http://startbootstrap.com">Web Development</a>
                    </strong>
                  </li>
                </ul>
                <button class="btn btn-success" type="button" data-dismiss="modal">
                  <i class="fa fa-times"></i>
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
  <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="~/Scripts/js/jqBootstrapValidation.js"></script>
  <script src="/~/Scriptsjs/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/~/Scriptsjs/freelancer.min.js"></script>
</body>

</html>
